.container {
  .divider_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    width: 100%;
    height: 13px;
    flex: 0 0 auto;
    color: rgb(228, 227, 226);
    .divider {
      width: 100%;
      height: 1px;
      visibility: visible;
      border-bottom: 1px solid rgba(55, 53, 47, 0.09);
    }
  }
}
