.container_outter {
  background-color: var(--primary-light);
  border-radius: 5px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px;

  @media (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        font-size: var(--font_2);
        font-weight: bold;
        font-family: "bold";
      }
      .descript {
      }
    }
    .img_wrapper {
      img {
        max-width: 150px;
        width: 100%;
      }
    }
  }

  @media (max-width: 700px) {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    .info_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        word-break: keep-all;

        font-size: var(--font_3);
        font-weight: bold;
        font-family: "bold";
      }
      .descript {
      }
    }
    .img_wrapper {
      display: flex;
      align-items: flex-end;
      img {
        max-width: 120px;
        width: 100%;
      }
    }
  }
}
