.container:hover {
  transform: translateY(-8px);
}
.container {
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 32px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  .head {
    overflow: hidden;
    img:hover {
      transform: scale(1.08);
    }
    img {
      width: 100%;
      transition: transform 0.5s;
    }
    margin-bottom: 10px;
  }

  .body {
    padding: 15px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .study_name {
      font-size: var(--font_5);
      font-family: bold;
      margin-bottom: 5px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .study_introduce {
      font-size: var(--font_6);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
