.container {
  margin: 0 auto;
  max-width: 350px;

  .head_wrapper {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .body_wrapper {
    h4 {
      font-size: var(--font_4);
    }
  }
}
