.container {
  margin-top: -30px;
  section {
    margin-bottom: 80px;
  }

  .section_hero {
    $break_point: 800px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (min-width: $break_point) {
      padding: 30px;
      height: 360px;
    }
    @media (max-width: $break_point) {
      padding: 100px;
      align-items: center;
      gap: 50px;
      text-align: center;
    }

    .info_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .descript {
        font-family: bold;
        color: var(--primary);
        margin-bottom: 10px;
      }

      .title {
        font-family: "bold";
        font-size: var(--font_1);
        color: white;
        margin-bottom: 30px;
      }

      .btn_wrapper {
        button {
          width: 300px;
          height: 40px;
          font-weight: bold;
        }
      }
    }

    .image_wrapper {
      @media (min-width: $break_point) {
        position: absolute;
        right: 10px;
        bottom: 0px;
        img {
          width: 100%;
          max-width: 400px;
        }
      }
      @media (max-width: $break_point) {
        img {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }

  .section_grid {
    margin-bottom: 80px;
  }

  .section_leture {
    .lecture_grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 10px;
      gap: 20px;
    }

    .add_button_wrapper {
      .btn_wrapper {
      }
    }
  }

  .page_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 10px;
    gap: 10px;
  }
}
