.container {
  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray100);

    .close_btn {
      padding: 10px;
      background-color: var(--gray100);
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .body {
    margin-bottom: 50px;
  }

  .submit_warpper {
    button {
      width: 100%;
      height: 50px;
      font-weight: bold;
    }
    margin-bottom: 50px;
  }
  .privacy_wrapper {
    font-size: var(--font_5);
    color: var(--gray500);
  }
}

.apply_input_container {
  .head_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

    .title {
      font-weight: bold;
      font-size: 16px;
    }
    .tooltip_wrapper {
      color: var(--gray500);
    }
  }
  input,
  textarea {
    font-size: 16px;
    padding: 10px;
  }
  textarea {
    height: 180px;
  }
  margin-bottom: 20px;
}
