.bold {
  font-weight: bold;
}
.code {
  background-color: rebeccapurple;
}
.italic {
  font-style: italic;
}
.strikethrough {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
